<?xml version="1.0" encoding="utf-8" ?> 

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
		<target name="MainLogFile" xsi:type="File"
					   fileName="${basedir}/IBApi.log" archiveFileName="${basedir}/archives/IBApi.{#}.log"
					   archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" archiveDateFormat="yyyyMMdd" concurrentWrites="true"
					   keepFileOpen="true" encoding="utf-8">

			<layout xsi:type="LayoutWithHeaderAndFooter">
				<layout xsi:type="SimpleLayout" text="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
				<footer xsi:type="SimpleLayout" text="*** Shutting Down IB API ***&#xD;&#xA;"/>
			</layout>

		</target>

		<target name="FillsLogFile" xsi:type="File"
				fileName="${basedir}/Fills.csv" archiveFileName="${basedir}/archives/Fills.{#}.log"
				archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" archiveDateFormat="yyyyMMdd"
				keepFileOpen="false" encoding="utf-8">
				
			<layout xsi:type="LayoutWithHeaderAndFooter">
				<header xsi:type="SimpleLayout" text="DateTime,Symbol,Side,CumulativeQty,AveragePrice,Commission,RealizedPnL,AccountNumber,SecurityType,Currency,Exchange,ClientId,ExecutionId,OrderId"/>
				<layout xsi:type="SimpleLayout" text="${longdate},${message}"/>
			</layout>
		</target>

		<target name="LogConsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="MainLog" minlevel="Debug" writeTo="MainLogFile" />
	    <logger name="FillsLog" minlevel="Debug" writeTo="FillsLogFile" />
    </rules>

</nlog>