<?xml version="1.0" encoding="utf-8" ?> 

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
        <target name="MainLogFile" xsi:type="File" 
				fileName="${basedir}/IBApi.log" archiveFileName="${basedir}/archives/IBApi.{#}.log"
				archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" archiveDateFormat="yyyyMMdd" concurrentWrites="true"
				keepFileOpen="true" encoding="utf-8"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
		<target name="FillsLogFile" xsi:type="File" 
				fileName="${basedir}/Fills.log" archiveFileName="${basedir}/archives/Fills.{#}.log"
				archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" archiveDateFormat="yyyyMMdd"
				keepFileOpen="false" encoding="utf-8"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
        <target name="LogConsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="MainLog" minlevel="Debug" writeTo="MainLogFile" />
	    <logger name="FillsLog" minlevel="Debug" writeTo="FillsLogFile" />
    </rules>

</nlog>